
*{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
	}
/*------------------GALERIA-----------*/

.galeria_cont{
	width:100%;
	background:red;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
}
.galeria_cont>ul{
	width:100%;
	max-width:1400px;
	background:blue;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-flow:row wrap;
	justify-content: space-around;
}
.galeria_item{
	width:300px;
	height:300px;
	background:green;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	margin:10px;
	cursor:pointer;
}
.galeria_item img{
	width:100%;
	object-fit: contain;
	cursor:pointer;
}






/*------------------MODAL-----------*/

.modal{
	position:fixed;
	z-index:22;
	top:0px;
	left:0px;
	width:100%;
	height:100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items:center;
	background:rgba(0,0,0,0.8)
}
.modal_img{
	width:100%;
	max-width:500px;
	background:blue;

}
.modal_img img{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	object-fit:fill;
}
.modal_boton{
	width:50px;
	height:50px;
	position:absolute;
	background:white;
	color:#F94E4E;
	top:50px;
	right:50px;
	cursor:pointer;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items:center;
	font-size:2em;
	transition:all 0.5s;
}
.modal_boton:hover{
	transform:scale(1.2);
}
