*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}

.contenedor{
  width:100%;
  max-width:1200px;
  background:#ccc;
  margin:auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
}
.video-cont{
  width:40%;
  background:gray;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin:10px;
}
.captura{
  width:30%;
  max-width:200px;
  background:blue;
  max-height:200px;
}
.captura img{
  width:100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.descripcion{
  width:70%;
  background:red;
  padding:20px;
}
.caja{
  width:100%;
  background:blue;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
